body{
	background-color: #e7e7ec;
	font-family: Noto Sans, sans-serif;
	font-size: 13px;
	color: #9996a1;
}
div{
	text-align: center;
	float: left; 
}
input {
	height: 30px;
	width: 100%;
	border: 1px solid #f1f0f2;
	border-radius: 3px;	
	margin-top: 5px;
	font-size: 11px;
}
.onelineinput {
	width: 108%;
}
::placeholder{
	color: #9996a1;
}
select {
	height: 30px;
	width: 100%;
	border: 1px solid #f1f0f2;
	border-radius: 3px;	
	margin-top: 5px;
	font-size: 11px;
	color: #636168;
}
.styledSelect {
	font-size: 0px;
}
.rectangle1 {
	height: 700px;
	width: 1250px;
	background-color: #e3e3e8;
	box-shadow: 0px 0px 50px #e3e3e8; 	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}
.rectangle2 {
	height: 100%;
	width: 39.95%;
	border-radius: 12px 0px 0px 12px;
	background-color: #ffffff;
}
.rectangle3 {
	height: 100%;
	width: 55%;
	border-radius: 0px 12px 12px 0px;
	padding-left: 5%;
	background-color: #ffffff; 	
	float: right;
}
.rectangle4 {
	margin: 1.5% 4% 1.5% 1.5%;
	width: 35%;
	text-align: left;
}
.rectangle5 {
	margin: 1.5%;
	width: 70%;
	text-align: left;
}
#steps {
	margin-top: 15%;
}
.circle {
	height: 38px;
	width: 38px;		
	border-radius: 50%;
	margin:  55% 1% 10% 1%;
	display: inline-block;
	background-color: #695a96;
}
.headerstyle {
	font-size: 18px;
	color: #636168;
}
#subtitle {
	padding-top: 2%;
	padding-right: 18%; 
	padding-left: 18%;
}
.button {		
	height: 35px;
	border-radius: 20px;
	border: 0px;
	float: left;
	margin-top: 15%;
}
#continueButton {
	width: 110px;
	background-color: #695a96;
	color: #ffffff;
}
#backButton {;
	width: 70px;
	background-color: #ffffff;
	color: #9996a1;
	border: 1px solid #9996a1;
	margin-right: 2%;
}
#visible {
	visibility: hidden;
}
@media screen and (max-width: 1250px) {
	body{
		font-size: 80%;
	}
	input {
		width: 90%;
		margin-top: 2%;
		margin-bottom: 3%;
	}
	.onelineinput {
		width: 90%;
	}
	select {
		width: 90%;	
		margin-top: 2%;
		margin-bottom: 3%;
	}
    .rectangle1 {
   		width: 90%;
   		height: 95%;	
	}
	.rectangle2 {
		width: 100%;
		height: 24%;
		border-radius: 10px 10px 0px 0px;
	}
	.rectangle3 {
		width: 100%;
		height: 100%;
		margin-top: 1px;
		padding-left: 0%;
		float: left;
		border-radius: 0px 0px 10px 10px;
	}
	.rectangle4 {
		margin: 2%;
		width: 100%;
		text-align: center;
	}
	.rectangle5 {
		margin: 0%;
		width: 100%;
		text-align: center;
	}
	#steps {
		margin-top: 2%;
	}
	.circle {	
		margin: 3% 1% 1% 1%;
	}
	.headerstyle {
		font-size: 120%;
		margin-top: 2%;
	}
	#subtitle {
		padding-top: 1.5q%;
	}
	.button {		
		margin-top: 5%;
		margin-left: 2%;
	}
	#backButton {;
		margin-right: 0%;
	}
}